:root {
    --my-blue: #2196F3;
}

body {
    text-align: center;
}

* {
    outline: none;
}

button {
    cursor: pointer;
    height: 25px;
    border: 0;
    background-color: var(--my-blue);
    color: white;
    outline: none;
    font-size: 12px;
}

button:hover {
    filter: brightness(1.1);
}

button:active {
    filter: brightness(0.9);
}

textarea {
    width: 100%;
    height: 200px;
    font-size: 17px;
}


#headline {
    height: 10vh;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#headline > div {
    width: 30%;
    /*box-shadow: 0px 15px 20px -20px rgb(206, 206, 206);*/
}

#headline > div > div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 70%;
}

#headline div div div {
    display: inline-block;
    color: black;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
}

#headline div div div:first-of-type {
    font-size: 40px;
    margin-right: 12px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    box-shadow: 0px 15px 40px -20px rgb(176, 176, 176);
}

#headline div div div a {
    text-decoration: none;
    color: black;
}

#headline p {
    display: inline-block;
    color: var(--my-blue);
    margin: 0;
}

#headline div div div a:hover {
    color: rgb(81, 81, 81)
}

#columns {
    display: flex;
    flex-direction: row;
}

.column#col1 {
    width: 18vw;
    margin-left: 2vw;
}

.column#col2 {
    width: 15vw;
}

.column#col3 {
    width: 65vw;
}

#wrapper {
    top: 0;
    position: relative;
    margin: auto;
}

.textWrapper {
    margin: auto;
    width: 600px;
}

.textWrapper:first-of-type {
    margin-bottom: 30px;
}

.textWrapper .textWrapperHeader {
    width: calc(100% + 6px);
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.textWrapper .textWrapperHeader div {
    display: flex;
    align-items: center;
}

.textareaButton {
    margin-left: 4px;
}

.menu {
    margin: auto;
    width: 90%;
    height: 70vh;
}

.menu .dictionaryTable {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    border: 1px solid #dfdfdf;
    width: 150px;
}

.menuHeader {
    user-select: none;
    margin-bottom: 10px;
}

#editableDictionary {
    overflow-y: hidden !important;
    margin: auto;
    width: 150px;
    text-align: center;
    height: 100%;
}

#editableDictionary textarea {
    width: calc(100% - 5px);
    height: calc(100% - 1px);
}

#dictionary button {
    width: 70%;
    margin-top: 10px;
}

#fixedDictionary, #dictionaryPickerTable {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#dictionaryPickerTable {
    height: calc(100% - 54px);
    width: 185px;
    position: relative;
}

#col1 .menu button {
    width: 90%;
    margin-top: 2px;
}

#fixedDictionary .fixedDictRow, #dictionaryPickerTable .fixedDictRow {
    padding: 3px 0;
    text-align: center;
}

#fixedDictionary .fixedDictRow:nth-of-type(2n-1), #dictionaryPickerTable .fixedDictRow:nth-of-type(2n-1) {
    background-color: #f0f8ff;
}

.fixedDictRow.invalid {
    color: red;
}

#dictionaryPickerTable div {
    user-select: none;
    cursor: pointer;
}

#dictionaryPickerTable .fixedDictRow.checked {
    background-color: #79c0ff;
}

#fixedDictionary .fixedDictRow div {
    min-width: 30px;
    width: auto;
    display: inline-block;
}

.fixedDictRow.editable {
    padding: 2px !important;
}

.fixedDictRow.editable input {
    width: calc(100% - 1px);
    height: 20px;
    font-size: 16px;
    outline: none;
    padding: 0;
    border: 0;
    margin: 0;
    padding-left: 3px;
}

.fixedDictRow .pickerRowContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}

.fixedDictRow .pickerRowContent button {
    transform: translateX(50px);
    transition: transform 0.2s;
    color: red;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 600;
    padding: 0;
    display: flex;
    height: 100%;
    padding-bottom: 1px;
}

.fixedDictRow .pickerRowContent button:hover {
    filter: brightness(0.6);
}

.fixedDictRow:hover .pickerRowContent button {
    transform: translateX(-5px);
    width: 20px;
}

input[type="file"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

#targetText button {
    padding: 8px;
    height: auto;
}

.frame {
    overflow-y: auto;
    border: 1px solid black;
    height: 3em;
    width: 10em;
    line-height: 1em;
}

textarea::-webkit-input-placeholder {
    color: rgb(160, 160, 160);
}

textarea:-moz-placeholder { /* Firefox 18- */
    color: rgb(160, 160, 160);
}

textarea::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(160, 160, 160);
}

textarea:-ms-input-placeholder {
    color: rgb(160, 160, 160);
}

textarea::placeholder {
    color: rgb(160, 160, 160);
}


.scrollable::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrollable::-webkit-scrollbar:vertical {
    width: 11px;
}

.scrollable::-webkit-scrollbar:horizontal {
    height: 11px;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    text-align: right;
    width: 100%;
    font-size: 13px;
    background-color: white;
}

#footer a {
    text-decoration: none;
    color: black;
}

#footer a:hover {
    color: var(--my-blue);
}